Django==5.0.1
psycopg2==2.9.9
djangorestframework==3.14.0
django-debug-toolbar==4.3.0
uuid==1.30
django-filter==23.5
python-dotenv==1.0.1
celery==5.3.6
redis==5.0.1
django-celery-beat==2.5.0
requests~=2.31.0